body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4{
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("/images/one.JPG");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("/images/image_3_copy.jpg");
  min-height: 100%;
}

.bgimg-3 {
  background-image: url("/images/image_4.jpg");
  min-height: 100%;
}

.bgimg-4 {
  background-image: url("/images/image_5.jpg");
  min-height: 100%;
}

.bgimg-5 {
  background-image: url("/images/image_6_copy.png");
  min-height: 100%;
}

.bgimg-5{
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.caption {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption1 {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption1 span.header {
  background-color: transparent;
  color: #fff;
  padding: 18px;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.caption1 span.subheader {
  background-color: transparent;
  color: #fff;
  padding: 18px;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

.caption1 span.byline {
  background-color: transparent;
  color: #fff;
  padding: 18px;
  font-size: 1.1rem;
  letter-spacing: 2px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.header {
  padding: 50px 16px;
  background: #f27575;
  color: #f1f1f1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  padding: 50px 80px;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  text-align: justify;
  background-color: white;
  color: #777
}

.pic_container{
  background-color: red;
  height: 100vh;
}





h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  letter-spacing: 4px;
  color: #e43434;
}

.image-comparison {
  max-width: 1100px;
  max-height: 98%;
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
}

.image-comparison img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.image-comparison .images-container {
  position: relative;
  display: flex;
}

.image-comparison .images-container .before-image {
  position: absolute;
  top: 00px;
  width: 50%;
}

.image-comparison .slider {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.image-comparison .slider-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
}

.image-comparison .slider-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  color: #fff;
  transform: translate(-50%, -50%) rotateZ(90deg);
}






/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}

